name: Run Tests
on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main
permissions:
  contents: read
  actions: read
jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - run: sudo apt-get install hunspell
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run test-report
        env:
          NODE_EXTRA_CA_CERTS: /etc/ssl/certs/ca-certificates.crt
      - run: npm run test-coverage-lcov
        env:
          NODE_EXTRA_CA_CERTS: /etc/ssl/certs/ca-certificates.crt
      - name: Save PR number
        env:
          PR_NUMBER: ${{ github.event.number }}
        run: |
          echo $PR_NUMBER > ./pr_number
      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-results-${{ matrix.node-version }}
          path: |
            test-results.json
            coverage
            pr_number
